{% extends 'base.html' %} 

{% block content %}
     
<h1>Welcome To Your Personal Glukose Guide</h1>
<hr />
<p>Quickly and Easily Track Your Blood Glucose Data</p>

<h2>The Big Picture</h2>
<p>More than 37 million people in the United States have diabetes, and 1 in 5 of them don’t know they have it.
    96 million US adults—over a third—have prediabetes, and more than 8 in 10 of them don’t know they have it.
    Diabetes is the 7th leading cause of death in the United States (and may be underreported).
    Type 2 diabetes accounts for approximately 90% to 95% of all diagnosed cases of diabetes; type 1 diabetes accounts for approximately 5-10%.
    In the last 20 years, the number of adults diagnosed with diabetes has more than doubled as the American population has aged and become more overweight or obese.</p>

<h2>Importance of Monitoring & Managing Your Diabetes</h2>
<p>It’s important to keep your blood sugar levels in your target range as much as possible to help prevent or delay long-term, serious health problems, such as heart disease, vision loss, and kidney disease. Staying in your target range can also help improve your energy and mood.  </p>

<p class='aligncenter'>
<img src = 'https://www.leehealth.org/getattachment/7dcec253-ecce-4cb6-982e-71e7854600cc/Diabetes-1.jpg' width='400' height='400' />
</p>


{% endblock %}