{% extends 'base.html' %} 

{% block content %}
     
<h1>Our Glukose Reference Guide</h1>
<hr />



<h2> Understanding Type 2 Diabetes</h2>
<p>Blood sugar levels normally stay in a certain range. In other words, your body has a system that regulates how much sugar is circulating in your blood stream. That system centers on a hormone called insulin, which is released from cells located in the pancreas. Insulin speeds up the transfer of sugar from your blood and delivers it into your muscle, liver and fat tissues where it is used as fuel or stored for your body to use later.
    If you don’t have enough insulin, sugar accumulates in your blood stream and you have diabetes. There are different factors that determine why you don’t have enough insulin, and those factors determine if you have type 1, type 2, gestational diabetes or other types of diabetes.</p>
<p>When you have diabetes and are treated with insulin replacement therapy or medications that increase insulin release from your pancreas, the insulin levels in your blood stream are imperfectly matched to how much insulin you actually need and there is always a risk of having too much insulin effect. Too much insulin effect can cause a low blood sugar or hypoglycemia. To minimize this risk, your provider may recommend that you target higher blood sugars such as a pre-meal blood sugar of 90-130 mg/dl and post meal blood sugar of less than 180 mg/dl. </p>


<h2>Hypoglycemia and Hyperglycemia</h2>
<p>Fasting hyperglycemia. This is blood sugar for patients who have diabetesthat's higher than 130 mg/dL (milligrams per deciliter) after not eating or drinking for at least 8 hours.
    Postprandial or after-meal hyperglycemia. This is blood sugar that's higher than 180 mg/dL 2 hours after you eat. </p>

<p class='aligncenter'>
    <img src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ_5o9AWk-3q7XwLspn8lzCKLhI7E0GONb_sdixjq1qlrym6pbAzrolKjrWyY2XwfbQss&usqp=CAU' />
    <img src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ46ESyaYAfpbo7pmws6Or8e3SgYV-FWmro_VW3hn1FHnRetS_mNCFiqYLPFvSobJElSYA&usqp=CAU' />
</p>



<h2>Quick Guide to Carb Counting</h2>
<p class='aligncenter'>
<img src = 'https://images.slideplayer.com/27/8958528/slides/slide_11.jpg' />
</p>

<h2>Sliding Scale Insulin Dosing</h2>
<p class='aligncenter'>
    <img src = 'https://i.pinimg.com/originals/fc/f4/19/fcf419312275c49ea1b5995be46208c8.jpg' />
</p>


{% endblock %}