{% extends 'base.html' %} 

{% block content %}

<h1>Hello {{ patient.first_name }} {{ patient.last_name }}</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ patient.first_name }}</span>
        <p>Last Name: {{ patient.last_name }}</p>
        <p>Month: {{ patient.month }}</p>
        <p>Day: {{ patient.day }}</p>
        <p>Year: {{ patient.year }}</p>
        <p>Phone: {{ patient.phone_number }}</p>
        <p>Email: {{ patient.email }}</p>
        <p>Physician: {{ patient.physician }}</p>
        <p>Insulin Type: {{ patient.insulin_type }}</p>
        <p>Insulin Scale: {{ patient.insulin_scale }}</p>
        </div>
        <div class="card-action">
          <hr />
          <a href="{% url 'patients_update' patient.id %}">Edit</a>
          <a href="{% url 'patients_delete' patient.id %}">Delete</a>
          <hr />
          <br />
          <img src = 'https://i.pinimg.com/originals/fc/f4/19/fcf419312275c49ea1b5995be46208c8.jpg' />
      </div>
    </div>
  </div>
  
  <div class="col s6">
    <form action="{% url 'add_glucose' patient.id %}" method="post">
      {% csrf_token %} {{ glucose_form.as_p }}
      <input type="submit" class="btn green" value="Add Entry" />
    </form>
  <div class="card-action">
      <a href="{% url 'glucose_update' patient.id %}" class='btn red'>Edit</a> 
  </div> 
    <br />
    {% if patient.checked_today %}
  <div class="card-panel teal-text center-align">
     You have checked all of your blood sugars for today
  </div>
  {% else %}
  <div class="card-panel red-text center-align">
      It might be time to check your blood sugar 
  </div>
  {% endif %}
  
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Meal</th>
          <th>AccuCheck</th>
          <th>Carbs for this Meal</th>
          <th>Insulin</th>
        </tr>
      </thead>
      <tbody>
        {% comment %} change view of entries {% endcomment %}
          {% for glucose in patient.glucose_set.all %}
        <tr>
          <td>{{glucose.date}}</td>
          <td>{{glucose.get_meal_display}}</td>
          {% comment %} Add red or green for readings {% endcomment %}
          <td>
              {% if glucose.accucheck > 180 %}
                <div class='High'>
              {% elif glucose.accucheck < 70 %}
                <div class='Low'> 
              {% else %}
                {{ glucose.accucheck }}
                <div id='Normal'>
              {% endif %}
              </div>
            </div>
          </td>
          <td>{{glucose.carbohydrates}}</td>
          <td>{{glucose.insulin}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr />

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}